.filters__container {
  box-sizing: border-box;
  position: relative;

  color: rgb(248 247 247);
  border: 2px solid rgba(255, 255, 255, 0.254);
  background-color: #ffffff1f;
  /* font-family: "Noto Sans", sans-serif; */
  font-weight: 400;

  width: 100%;
  height: 65px;
  top: 30px;
  padding: 5px;
  border-radius: 20px;

  align-items: center;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}

.filter__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.filters-container__hidden-content {
  display: none;
}

.filters-container__filters-hidden {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
}
.filters-container__filters-visible {
  align-items: center;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}

.container__select-filter {
  border: 2px solid rgba(255, 255, 255, 0.254);
  background-color: #2e4a7f96;
  color: #9adfff;
  font-weight: none;
  letter-spacing: 0.7px;
  border-radius: 10px;
  margin: 10px;
  padding: 7px;
  padding-left: 3px;
  padding-right: 3px;
  width: 150px;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

/* |   |   |   |   MEDIA QUERY   -   MÓVIL    |   |   |   | */

@media (min-width: 250px) and (max-width: 767px) {
  .filters__container {
    margin: 0;
    padding: 8px;
    height: auto;
    width: auto;
    flex-wrap: wrap;
    flex-direction: column;
  }

  /* .filters-container__hidden-content {
  
  } */

  .filters-container__hidden-content {
    display: block;
    position: relative;

    color: rgb(248 247 247);
    border: 2px solid rgba(255, 255, 255, 0.254);
    background-color: #ffffff1f;
    font-size: 16px;
    font-weight: 400;

    font-weight: 400;
    color: #e0dfdc;
    letter-spacing: 0.1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c,
      0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424,
      0 7px 0 #222, 0 8px 30px rgba(0, 0, 0, 0.9);

    border-radius: 20px;
    width: 160px;
    height: 65px;
    padding: 5px;
    margin: 0;

    opacity: 1;
    cursor: pointer;
    text-align: center;
  }
  .filters-container__hidden-content:hover {
    background-color: transparent;
  }

  .filters-container__filters-visible {
    max-height: 500px;
    overflow: visible;
    flex-direction: column;
  }

  .filter__container label {
    text-align: center;
  }
}

/* |   |   |   |   MEDIA QUERY   -   TABLET    |   |   |   | */

@media (min-width: 768px) and (max-width: 1024px) {
}
