.landing__container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.landing-container__video {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.landing-container__welcome {
  border: 2px solid rgba(255, 255, 255, 0.254);
  background-color: #2e4a7f96;
  border-radius: 20px;
  letter-spacing: 0.7px;
  margin: 0;
  
}

.landing-container__welcome h1 {
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 10px;
  margin: 0;
}

.landing-container__welcome h2 {
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  color: #000000;
  margin: 0;
  padding-bottom: 10px;
  text-shadow: 2px 2px #ffffff;
}

.container__welcome-start-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 60px;
}
.container__welcome-start-btn h3{
  color: #000000;
  font-weight: 300;
  padding-bottom: 10px;
  text-shadow: 2px 2px #ffffff;
  margin: 10px;
}
.container__welcome-start-btn span{
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
}

.container__welcome-start-btn button {
  color: rgb(248 247 247);
  border: 2px solid rgba(255, 255, 255, 0.254);
  background-color: #415989;

  width: 160px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;

  margin: 10px;
  height: 55px;
  text-align: center;
  background-size: 300% 100%;

  top: 70px;
  left: -25px;
  border-radius: 20px;
}

.container__welcome-start-btn button:hover {
  background-color: transparent;
}

.landing-container__link {
  text-decoration: none;
}